<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twój Koszyk</title>
</head>
<body>
<h1>Twój Koszyk</h1>

<div th:if="${#lists.isEmpty(cartItems)}">
    <p>Twój koszyk jest pusty.</p>
</div>

<div th:unless="${#lists.isEmpty(cartItems)}">
    <table th:unless="${#lists.isEmpty(cartItems)}" border="1" style="width: 100%; text-align: center;">
        <thead>
        <tr>
            <th>Produkt</th>
            <th>Cena jednostkowa</th>
            <th>Ilość</th>
            <th>Cena całkowita</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.perfume.name}">Nazwa Perfum</td>
            <td th:text="${item.perfume.price} + ' zł'">Cena</td>
            <td>
                <form th:action="@{/cart/decrement/{id}(id=${item.perfume.id})}" method="post" style="display: inline;">
                    <button type="submit" th:disabled="${item.quantity == 1}">-</button>
                </form>

                <span th:text="${item.quantity}" style="margin: 0 10px; font-weight: bold;">1</span>

                <form th:action="@{/cart/increment/{id}(id=${item.perfume.id})}" method="post" style="display: inline;">
                    <button type="submit" th:disabled="${item.quantity == 99}">+</button>
                </form>
            </td>
            <td th:text="${item.price} + ' zł'">Cena Całkowita</td>
            <td>
                <form th:action="@{/cart/remove/{perfumeId}(perfumeId=${item.perfume.id})}" method="post">
                    <button type="submit">Usuń</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 th:text="'Suma: ' + ${totalPrice} + ' zł'">Suma: 0.00 zł</h3>
</div>

<div th:unless="${#lists.isEmpty(cartItems)}">
    <h3 th:text="'Suma: ' + ${totalPrice} + ' zł'">Suma: 0.00 zł</h3>

    <form th:action="@{/order/place}" method="post">
        <button type="submit">Złóż zamówienie</button>
    </form>
</div>

<br>
<a th:href="@{/products}">Kontynuuj zakupy</a>

</body>
</html>