<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<h1>Zaloguj się</h1>

<div th:if="${param.error}" style="color: red;">
    Niepoprawny e-mail lub hasło.
</div>

<div th:if="${param.logout}" style="color: green;">
    Pomyślnie wylogowano.
</div>

<form th:action="@{/login}" method="post">
    <div>
        <label for="username">E-mail:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <button type="submit">Zaloguj</button>
    </div>
</form>

<p>Nie masz konta? <a th:href="@{/register}">Zarejestruj się!</a></p>
</body>
</html>